In [1]:
import monopyly as mp
from matplotlib import pyplot as plt

In [2]:
# each Block = one real estate unit
widmer = mp.Blocks(
    property_value = 650000, 
    purchase_price = 650000,
    interest_rate = 0.031, 
    down_payment_pct = 0.25, 
    loan_term = 30,
    rental_income = 2700,
    vacancy=0, 
    maintenance_reserve=0, 
    management_fee=0.15, 
    monthly_property_tax=167.0, 
    monthly_insurance=50.0,
    monthly_utility=90, 
    rental_income_increase=2, 
    property_tax_increase=2,
    closing_cost_buy=0.02, 
    closing_cost_sell=0
)

In [3]:
widmer.cash_on_cash_return()

array([-0.65, -0.36, -0.05,  0.25,  0.57,  0.89,  1.22,  1.55,  1.89,
        2.24,  2.59,  2.96,  3.32,  3.7 ,  4.08,  4.47,  4.87,  5.28,
        5.7 ,  6.12,  6.55,  6.99,  7.44,  7.9 ,  8.37,  8.84,  9.33,
        9.83, 10.33])

In [4]:
widmer.print_financial_performance()

Year,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,29
Cash on Cash COC,-0.650000,-0.360000,-0.050000,0.250000,0.570000,0.890000,1.220000,1.550000,1.890000,2.240000,...,6.120000,6.550000,6.990000,7.440000,7.900000,8.370000,8.840000,9.330000,9.830000,10.330000
Return on Equity ROE,0.051504,0.053111,0.054558,0.055863,0.057043,0.058109,0.059073,0.059945,0.060734,0.061447,...,0.065602,0.065802,0.065975,0.066121,0.066243,0.066342,0.066420,0.066478,0.066517,0.066538
Annualized Return APY,-0.018078,0.021873,0.035883,0.043137,0.047605,0.050633,0.052807,0.054425,0.055657,0.056605,...,0.059163,0.059092,0.058994,0.058871,0.058727,0.058566,0.058389,0.058200,0.057999,0.057789
Return On Investment,0.000006,0.000006,0.000007,0.000007,0.000007,0.000008,0.000008,0.000009,0.000009,0.000010,...,0.000015,0.000016,0.000016,0.000017,0.000018,0.000018,0.000019,0.000020,0.000021,0.000022

In [ ]:
yorkville = mp.Blocks(
    property_value = 700000, 
    purchase_price = 700000,
    interest_rate = 0.046, 
    down_payment_pct = 0.25, 
    loan_term = 25,
    rental_income = 2000,
    vacancy=0, 
    maintenance_reserve=0, 
    management_fee=0.15, 
    monthly_property_tax=167.0, 
    monthly_insurance=50.0,
    monthly_utility=90, 
    rental_income_increase=2, 
    property_tax_increase=2,
    closing_cost_buy=0.02, 
    closing_cost_sell=0
)

In [ ]:
plt.plot(yorkville.cash_on_cash_return())
plt.plot(widmer.cash_on_cash_return())

In [ ]:
import pandas as pd