In [1]:
from anacondo.blocks import Blocks
from test.test_blocks import generate_sample_block as g

In [2]:
yorkville = g()

In [3]:
yorkville_assumptions = {
    'interest_rate': 0.031,
     'down_payment_pct': 0.25,
     'loan_term': 30,
     'purchase_price': 650000,
     'years': 10,
     'property_value': 650000,
     'rental_income': 2700,
     'vacancy': 0,
     'maintenance_reserve': 0,
     'management_fee': 0.15,
     'monthly_property_tax': 167.0,
     'monthly_insurance': 50.0,
     'monthly_utility': 90,
     'rental_income_increase': 2,
     'property_tax_increase': 2,
     'closing_cost_buy': 0.02,
     'closing_cost_sell': 0
}

In [4]:
# Create Yorkville property based on assumptions
yorkville = Blocks(**yorkville_assumptions)

In [5]:
# Print financial metrics
yorkville.print_financial_performance()

Year,1,2,3,4,5,6,7,8,9,10
Cash on Cash COC,-0.006500,-0.003600,-0.000500,0.002500,0.005700,0.008900,0.012200,0.015500,0.018900,0.022400
Return on Equity ROE,0.051500,0.053100,0.054600,0.055900,0.057000,0.058100,0.059100,0.059900,0.060700,0.061400
Annualized Return APY,-0.018078,0.021873,0.035883,0.043137,0.047605,0.050633,0.052807,0.054425,0.055657,0.056605
Return On Investment,-0.005000,0.051400,0.112600,0.178900,0.250400,0.327100,0.409300,0.497000,0.590300,0.689500

In [6]:
# Print mortgage payment summary
yorkville.mortgage_balance_summary()

   Year    Total Paid  Mortgage Balance  Principal Paydown  Interest Paydown
0     1  24980.459336         477490.62       10009.380979      14971.078357
1     2  24980.459336         467166.50       10324.118690      14656.340646
2     3  24980.459336         456517.75       10648.753099      14331.706237
3     4  24980.459336         445534.15       10983.595402      13996.863934
4     5  24980.459336         434205.19       11328.966578      13651.492758
5     6  24980.459336         422519.99       11685.197699      13295.261637
6     7  24980.459336         410467.36       12052.630249      12927.829087
7     8  24980.459336         398035.74       12431.616449      12548.842887
8     9  24980.459336         385213.22       12822.519594      12157.939742
9    10  24980.459336         371987.51       13225.714405      11754.744931

In [7]:
# Rerun with 30 years worth of data
yorkville.update(years=30)
yorkville.mortgage_balance_summary()

    Year    Total Paid  Mortgage Balance  Principal Paydown  Interest Paydown
0      1  24980.459336         477490.62       10009.380979      14971.078357
1      2  24980.459336         467166.50       10324.118690      14656.340646
2      3  24980.459336         456517.75       10648.753099      14331.706237
3      4  24980.459336         445534.15       10983.595402      13996.863934
4      5  24980.459336         434205.19       11328.966578      13651.492758
5      6  24980.459336         422519.99       11685.197699      13295.261637
6      7  24980.459336         410467.36       12052.630249      12927.829087
7      8  24980.459336         398035.74       12431.616449      12548.842887
8      9  24980.459336         385213.22       12822.519594      12157.939742
9     10  24980.459336         371987.51       13225.714405      11754.744931
10    11  24980.459336         358345.92       13641.587383      11338.871953
11    12  24980.459336         344275.38       14070.537185      10909.922151
12    13  24980.459336         329762.41       14512.975002      10467.484334
13    14  24980.459336         314793.08       14969.324954      10011.134381
14    15  24980.459336         299353.06       15440.024500       9540.434836
15    16  24980.459336         283427.53       15925.524850       9054.934486
16    17  24980.459336         267001.24       16426.291406       8554.167930
17    18  24980.459336         250058.44       16942.804202       8037.655134
18    19  24980.459336         232582.88       17475.558368       7504.900968
19    20  24980.459336         214557.81       18025.064601       6955.394734
20    21  24980.459336         195965.96       18591.849659       6388.609677
21    22  24980.459336         176789.51       19176.456861       5804.002475
22    23  24980.459336         157010.06       19779.446612       5201.012724
23    24  24980.459336         136608.66       20401.396937       4579.062399
24    25  24980.459336         115565.76       21042.904038       3937.555298
25    26  24980.459336          93861.18       21704.582864       3275.876472
26    27  24980.459336          71474.11       22387.067699       2593.391637
27    28  24980.459336          48383.10       23091.012774       1889.446561
28    29  24980.459336          24566.00       23817.092891       1163.366445
29    30  24980.459336             -0.00       24566.004069        414.455267

In [8]:
# look at cash on cash return specifically. index of array is the year.
yorkville.cash_on_cash_return()

array([-0.0065, -0.0036, -0.0005,  0.0025,  0.0057,  0.0089,  0.0122,
        0.0155,  0.0189,  0.0224,  0.0259,  0.0296,  0.0332,  0.037 ,
        0.0408,  0.0447,  0.0487,  0.0528,  0.057 ,  0.0612,  0.0655,
        0.0699,  0.0744,  0.079 ,  0.0837,  0.0884,  0.0933,  0.0983,
        0.1033,  0.1085])

In [9]:
# How much can I buy Yorkville for so that my cash on cash return is > 0
# Returns the break even purchase price after X number of years. For example, based on input assumptions
# if I purchase Yorkville for 648000, It will take me 3 years before I get positive cash on cash return
yorkville.simulate_break_even('coc', 'purchase_price')

{621000: 1,
 634000: 2,
 648000: 3,
 662000: 4,
 676000: 5,
 690000: 6,
 705000: 7,
 720000: 8,
 735000: 9,
 751000: 10,
 766000: 11,
 783000: 12,
 799000: 13,
 816000: 14,
 833000: 15,
 851000: 16,
 869000: 17,
 887000: 18,
 905000: 19,
 924000: 20,
 944000: 21,
 964000: 22,
 984000: 23,
 1004000: 24,
 1025000: 25,
 1047000: 26,
 1068000: 27,
 1091000: 28,
 1113000: 29,
 1136000: 30}

In [10]:
# Similarly, returns the break even interest rate after X number of years. 
# A borrowing rate of 4.8% based on current input assumnptions will take 4 years before achieving positive ROI
yorkville.simulate_break_even('roi', 'interest_rate')

{0.03: 1,
 0.042: 2,
 0.046: 3,
 0.048: 4,
 0.05: 5,
 0.052: 6,
 0.054: 7,
 0.056: 8,
 0.058: 9,
 0.06: 10,
 0.062: 11,
 0.064: 12,
 0.066: 13,
 0.068: 14,
 0.07: 15,
 0.072: 16,
 0.074: 17,
 0.076: 18,
 0.078: 19,
 0.08: 20,
 0.082: 21,
 0.084: 22,
 0.086: 23,
 0.088: 24,
 0.09: 25,
 0.092: 26,
 0.094: 27,
 0.096: 28,
 0.098: 29,
 0.1: 30}